

<div class="container">

  <form>
    <div class="filter form-group">
      <input class="form-control" type="text" name="search"
      [(ngModel)]="searchText" autocomplete="off" placeholder="Filtrar">
    </div>
  </form>
  <ng-container>
    <div class="card-deck">
      <vista-ave
        *ngFor="let ave of aves$ | async | filter:searchText"
        [ave]="ave">
      </vista-ave>
    </div>
  </ng-container>

  <button class="optionButton"
  type="button" (click)="navegarAAves()">Explorar</button>

</div>


