
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{titulo}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link cursor-point" (click)="navegar('/')">Explorar</a>
      <a class="nav-item nav-link cursor-point" (click)="navegar('/avistajes')">Avistajes</a>
      <a class="nav-item nav-link cursor-point" (click)="navegar('/avistajes')">Acerca de</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!--
<ng-template>
    <mapa-avistajes [avistajes$]="avistajes$"
    [showControlsZoom]="true"></mapa-avistajes>
</ng-template>

<ng-template>
  <div *ngIf="profile">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar class="profile" src={{profile.thumbnail}}/>
        <div-group>
          <div>
            <i>{{profile.nombrecient}}</i>
          </div>
          <div>
            {{profile.nombrecomun}}
          </div>
          <div>
            {{profile.familia}}
          </div>
          <mat-card-subtitle>
            <p>{{profile.descripcion}} <a href={{profile.link}} target="_blank">LinkedIn</a></p>
          </mat-card-subtitle>
        </div-group>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>

-->
