
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container-fluid px-0">
    <div class="row w-100">
      <div class="col-10">
        <div class="collapse justify-content navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
          <a class="navbar-brand" href="#">{{titulo}}</a>
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link cursor-point" (click)="navegar('/')">Explorar</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link cursor-point" (click)="navegar('/avistajes')">Avistajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link cursor-point" (click)="navegar('/acerca_de')">Acerca de</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!--
<ng-template>
    <mapa-avistajes [avistajes$]="avistajes$"
    [showControlsZoom]="true"></mapa-avistajes>
</ng-template>

<ng-template>
  <div *ngIf="profile">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar class="profile" src={{profile.thumbnail}}/>
        <div-group>
          <div>
            <i>{{profile.nombrecient}}</i>
          </div>
          <div>
            {{profile.nombrecomun}}
          </div>
          <div>
            {{profile.familia}}
          </div>
          <mat-card-subtitle>
            <p>{{profile.descripcion}} <a href={{profile.link}} target="_blank">LinkedIn</a></p>
          </mat-card-subtitle>
        </div-group>
      </mat-card-header>
    </mat-card>
  </div>
</ng-template>

-->
