
  <div class="card">
      <div class="card-body">
          <h5 class="card-subtitle mb-2 text-muted"><i>{{profile.nombrecient}}</i></h5>
          <h5 class="card-title">{{profile.nombrecomun}}</h5>
      </div>
      <img src="{{profile.thumbnail}}" class="card-img-top center" alt="Imágen de Wikipedia">
      <div class="card-body">
        <p class="card-text"><small class="text-muted">{{profile.familia}}</small></p>
        <div class="card-text text-muted">
          {{profile.descripcion}} <a class="card-link" href="{{profile.link}}" target="_blank">Linkedin</a>
        </div>
      </div>
  </div>
