<!--<div *ngIf="ave">
  <div class="card">
    <div class="card-body">
          <img src="{{ave.thumbnail}}"/>
          <div>
            <div class="card-subtitle mb-2 text-muted">
              <i>{{ave.nombrecient}}</i>
            </div>
            <div class="card-title">
              {{ave.nombrecomun}}
            </div>
            <div>
              {{ave.familia}}
            </div>
            <div>
              {{ave.estado}}
            </div>
            <div>
              <p class="card-text">{{ave.descripcion}} <a class="card-link" href="{{ave.link}}" target="_blank">Wikipedia</a></p>
            </div>
          </div>
        </div>

      <div>
        <button mat-raised-button  class="optionButton button"
        >Añadir</button>
      </div>
      </div>
</div>-->


<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-subtitle mb-2 text-muted"><i>{{ave.nombrecient}}</i></h5>
        <h5 class="card-title">{{ave.nombrecomun}}</h5>
    </div>
    <img src="{{ave.thumbnail}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-muted">
        {{ave.descripcion}} <a class="card-link" href="{{ave.link}}" target="_blank">Wikipedia</a>
      </p>
      <p class="card-text"><small class="text-muted">{{ave.familia}}</small></p>
    </div>
    <div class="card-footer" *ngIf="showFooter">
        <button type="button" class="btn btn-dark" (click)="onAdd(ave)">Agregar</button>
        <button type="button" class="btn btn-dark">Ver en Mapa</button>
    </div>
</div>
