@import '~bootstrap/dist/css/bootstrap.min.css';

.card-img-top {
  height: 200px !important;
  /*min-width: 150px !important;*/
  /*width: auto !important;*/
  object-fit: contain !important;
}

.card{
  margin: 5px !important;
  box-shadow: 0 10px 40px 0 #B0C1D9;
  width: 275px;
}

.btn{
  margin: 5px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.filter{
  max-width: 800px;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display:block;
}

.cursor-point{
  cursor: pointer;
}

.container{
  margin: 25px;
  margin-right: auto;
  margin-left: auto;
  max-width: 95% !important;
  /*display:block;*/
}
