<main role="main" class="container">


  <div class="row">
    <div class="col-md-12">
      <div class="mapa">
      <agm-map
      [latitude]="latitud"
      [longitude]="longitud"
      [zoom]="zoom"
      [zoomControl]="false">

        <agm-marker
        *ngFor="let a of (avistajes$ | async); index as i"
        [latitude]="a.latitud"
        [longitude]="a.longitud">

        <agm-info-window>
          <strong>
            <div>Nombre: {{a.nombrecient}}</div>
          </strong>
        </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>
    </div>
  </div>
</main>
